Source: usbpoll-oc
Section: kernel
Priority: optional
Maintainer: Ian Zurutuza <ian.zurutuza@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/ianzur/usbpoll-oc-kmod

Package: usbpoll-oc
Architecture: all
Depends: dkms, ${misc:Depends}
Description: Kernel module for overclocking polling rate for usb devices. 
 This package provides a DKMS-based kernel module for overclocking the polling
 rate of usb hid devices.

