#!/usr/bin/make -f

PACKAGE_VERSION = 1.4

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/usbpoll-oc/usr/src/usbpoll-oc-${PACKAGE_VERSION}
	cp ../usbpoll_oc.c ../Makefile debian/usbpoll-oc/usr/src/usbpoll-oc-${PACKAGE_VERSION}/
	cp debian/dkms.conf debian/usbpoll-oc/usr/src/usbpoll-oc-${PACKAGE_VERSION}/
	mkdir -p debian/usbpoll-oc/lib/modules-load.d
	echo "usbpoll_oc" > debian/usbpoll-oc/lib/modules-load.d/usbpoll-oc.conf

